extends ../layout

block content
    header
        form#searchForm(action="/books" method="post")
            p
                label(for='search') Search Books
                br
                input(type='text' name='search' placeholder='Search..')
                input#searchSubmit(type='submit' value='Search')
        p
            a.button(href='books/new') Create New Book
                
    table
        thead
            tr
            th Title
            th Author
            th Genre
            th Year
        tbody
            each book in books
                tr
                    td
                        a(href=`books/${book.id}`)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year

    if(booksPerPage)
        - pagesArr = Array.from(Array(Math.ceil(numOfBooks/booksPerPage)).keys())
        div.pagination
            each num in pagesArr
                a.button.pagButton(href=`?page=${num+1}`)= num+1

    br
    if(!booksPerPage && !searchedBooks)
        p
            a.button.filter(href="?page=1") Pagination
    else if (!searchedBooks)
        p
            a.button.filter(href="/") All Books

    if(searchedBooks !== totalBooks)
        p
            a.button.filter(href='/books') All Books